src/main/mule/first-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
  xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd"
>
  <flow name="first-api-main">
    <http:listener
      config-ref="firstApiHttpListenerConfig"
      path="/api/${api.majorVerison}/*"
    >
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="firstApiConfig" />
    <error-handler ref="api-error-handler" />


  </flow>


  <flow name="first-api-console">
    <http:listener
      config-ref="firstApiHttpListenerConfig"
      path="/console/${api.majorVerison}/*"
    >
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="firstApiConfig" />
    <error-handler ref="api-console-error-handler" />


  </flow>



  <flow name="get:\person\(id):firstApiConfig">
    <ee:transform>
      <ee:variables>
        <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref
      doc:name="person-by-id"
      doc:id="61074034-6cba-4687-9242-0b0d5e048c36"
      name="person-by-id" />
  </flow>
  
</mule>
